<body>


    <div class="padding-15">

        <div class="login-box">

            <!-- login form -->
            <form action="index.html" method="post" class="sky-form boxed">
                <header [class.text_right]="language=='fa'" [class.text_left]="language=='en'"
                    [class.rtl_dir]="language=='fa'" [class.ltr_dir]="language=='en'"><i class="fa fa-users"></i> ورود
                    اعضا</header>

                <!--
					<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
						Invalid Email or Password!
					</div>

					<div class="alert alert-warning noborder text-center weight-400 nomargin noradius">
						Account Inactive!
					</div>

					<div class="alert alert-default noborder text-center weight-400 nomargin noradius">
						<strong>Too many failures!</strong> <br />
						Please wait: <span class="inlineCountdown" data-seconds="180"></span>
					</div>
					-->

                <fieldset>

                    <section>
                        <label class="label" [class.text_right]="language=='fa'"
                            [class.text_left]="language=='en'">ایمیل یا نام کاربری</label>
                        <label class="input" style="text-align: left;">
                            <i class="icon-append fa fa-envelope" [class.login_input_icon_en]="language=='en'"></i>
                            <input type="text" style="padding: 0 45px;" placeholder="آدرس ایمیل خود را وارد کنید">
                            <b class="tooltip tooltip-bottom-right">یک ایمیل معتبر را وارد کنید زیرا برای تایید شدن حساب
                                کاربریتان به آن نیاز دارید.</b>
                        </label>
                    </section>

                    <section>
                        <label class="label" [class.text_right]="language=='fa'"
                            [class.text_left]="language=='en'">گذرواژه</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock" [class.login_input_icon_en]="language=='en'"></i>
                            <input type="password" style="padding: 0 45px;" placeholder="رمز عبور">
                            <b class="tooltip tooltip-top-right">رمز عبور خود را وارد کنید</b>
                        </label>
                    </section>

                </fieldset>

                <footer>
                    <button type="submit" class="btn btn-primary" [class.pull-right]="language=='fa'" [class.pull-left]="language=='en'">ورود</button>
                    <div class="forgot-password" [class.pull-left]="language=='fa'" [class.pull-right]="language=='en'">
                        <a href="page-password.html">فراموشی رمز</a> <br />
                        <a routerLink="/signup"><b>ثبت نام در سایت</b></a>
                    </div>
                </footer>
            </form>
            <!-- /login form -->


        </div>

    </div>
</body>