<body>


    <!-- WRAPPER -->
    <div id="wrapper" class="{{translate.currentLang=='fa' ? 'wrapperFa' : ''}}">

        <aside id="aside" class="{{translate.currentLang=='fa' ? 'asideFa' : ''}}">
            <nav id="sideNav">
                <app-side-menu></app-side-menu>
            </nav>

            <span id="asidebg" class="{{translate.currentLang=='fa' ? 'asideFabg' : '' }}"></span>
        </aside>
        <!-- /ASIDE -->


        <!-- HEADER -->
        <app-header></app-header>
        <!-- /HEADER -->


        <!-- 
            MIDDLE 
        -->
        <section id="middle" class="{{translate.currentLang=='fa' ? 'middleFa' : '' }}">


            <!-- page title -->
            <header id="page-header" [class.direction_rtl]="translate.currentLang=='fa'"
                [class.direction_ltr]="translate.currentLang=='en'">
                <h1>{{ 'base_page_title' | translate }}</h1>
                <ol class="breadcrumb">
                    <li class="active">{{ 'base_page_title' | translate }}</li>
                </ol>
            </header>
            <!-- /page title -->


            <div id="content" class="padding-20" [class.direction_rtl]="translate.currentLang=='fa'"
                [class.direction_ltr]="translate.currentLang=='en'">
                <router-outlet></router-outlet>
            </div>
        </section>
        <!-- /MIDDLE -->

    </div>

</body>