<body>


    <!-- WRAPPER -->
    <div id="wrapper" class="{{translate.currentLang=='fa' ? 'wrapperFa' : ''}}">

        <aside id="aside" class="{{translate.currentLang=='fa' ? 'asideFa' : ''}}">
            <nav id="sideNav">
                <app-side-menu></app-side-menu>
            </nav>

            <span id="asidebg" class="{{translate.currentLang=='fa' ? 'asideFabg' : '' }}"></span>
        </aside>
        <!-- /ASIDE -->


        <!-- HEADER -->
        <app-header></app-header>
        <!-- /HEADER -->


        <!-- 
            MIDDLE 
        -->
        <section id="middle" class="{{translate.currentLang=='fa' ? 'middleFa' : '' }}">
            <router-outlet></router-outlet>
        </section>
        <!-- /MIDDLE -->

    </div>

</body>