<header id="header" class="{{translate.currentLang=='fa' ? 'headerFa' : '' }}">

    <!-- Mobile Button -->
    <button id="mobileMenuBtn" class="{{translate.currentLang=='fa' ? 'mobileMenuBtnFa' : '' }}"></button>

    <!-- Logo -->
    <span style="margin: 0 30px;;" [class.pull-right]="translate.currentLang=='fa'"
        [class.pull-left]="translate.currentLang=='en'">
        <img src="assets/images/logo_light.png" alt="admin panel" height="35" />
    </span>

    <form method="get" [class.pull-right]="translate.currentLang=='fa'" [class.pull-left]="translate.currentLang=='en'"
        action="page-search.html" class="search hidden-xs">
        <input type="text" class="form-control" style="direction: rtl;" name="k" placeholder="جستجو در سایت ..." />
    </form>

    <nav>

        <!-- OPTIONS LIST -->
        <ul class="nav" [class.pull-left]="translate.currentLang=='fa'"
            [class.pull-right]="translate.currentLang=='en'">

            <!-- USER OPTIONS -->
            <li class="dropdown pull-left">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                    data-close-others="true">
                    <img class="user-avatar" alt="" src="assets/images/noavatar.jpg" height="34" />
                    <span class="user-name">
                        <span class="hidden-xs">
                            کاربر ادمین <i class="fa fa-angle-down"></i>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu hold-on-click">
                    <li>
                        <!-- my calendar -->
                        <a href="calendar.html"><i class="fa fa-calendar"></i> تقویم کاربری</a>
                    </li>
                    <li>
                        <!-- my inbox -->
                        <a href="#"><i class="fa fa-envelope"></i> صندوق ورودی
                            <span class="pull-right label label-default">10</span>
                        </a>
                    </li>
                    <li>
                        <!-- settings -->
                        <a href="page-user-profile.html"><i class="fa fa-cogs"></i> تنظیمات</a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <!-- lockscreen -->
                        <a href="page-lock.html"><i class="fa fa-lock"></i> قفل صفحه</a>
                    </li>
                    <li>
                        <!-- logout -->
                        <a href="page-login.html"><i class="fa fa-power-off"></i> خروج</a>
                    </li>
                </ul>
            </li>
            <!-- /USER OPTIONS -->

        </ul>
        <!-- /OPTIONS LIST -->

    </nav>

</header>