<ul class="nav nav-list">
    <li class="active">
        <!-- dashboard -->
        <a class="dashboard" routerLink="/dashboard">
            <!-- warning - url used by default by ajax (if eneabled) -->
            <i class="main-icon fa fa-dashboard"></i> <span [class.pull-right]="translate.currentLang=='fa'"
                [class.pull-left]="translate.currentLang=='en'">{{ 'side_menu_dashboard_item' | translate }}</span>
        </a>
    </li>
    <li class="active">
        <a href="#">
            <i class="fa fa-menu-arrow" [class.pull-right]="translate.currentLang=='en'"
                [class.pull-left]="translate.currentLang=='fa'"></i>
            <i class="main-icon fa fa-user"></i> <span [class.pull-right]="translate.currentLang=='fa'"
                [class.pull-left]="translate.currentLang=='en'">{{ 'side_menu_user_options' | translate }}</span>
        </a>
        <ul [class.sub_menu_li_fa]="translate.currentLang=='fa'">
            <!-- submenus -->
            <li><a routerLink="/dashboard/profile">{{ 'side_menu_user_profile_item' | translate }}</a></li>
        </ul>
    </li>
</ul>

<!-- SECOND MAIN LIST -->
<h3 [class.sub_menu_li_fa]="translate.currentLang=='fa'" style="margin: 10px;">{{ 'side_menu_other_seperator' | translate }}</h3>
<ul class="nav nav-list">
    <li class="active">
        <!-- dashboard -->
        <a class="dashboard" href="index.html">
            <!-- warning - url used by default by ajax (if eneabled) -->
            <i class="main-icon fa fa-sign-out"></i> <span [class.pull-right]="translate.currentLang=='fa'"
                [class.pull-left]="translate.currentLang=='en'">{{ 'side_menu_exit_item' | translate }}</span>
        </a>
    </li>
</ul>